// Primary Colors
$Text_Purple_Dark  : #240D57;
$Text_Purple_Light : #501FC1;
$Envited_Purple : #8456EC;
$Envited_Pink : #E87BF8;

// Secondary Colors
$Purple_1 : #CCB6FF;
$Purple_2 : #EDE5FF;
$Purple_3 : #F6F2FF;

// Alert Colors 
$Background_Red : #FFD7E0;
$Foreground_Red : #E61445;
$Background_Green : #D3FFE2;
$Foreground_Green : #00805E;

//Neutrals Colors
$Dark_Gray : #4F4F4F;
$Gray : #828282;
$Light_Gray : #BDBDBD;
$Light_Gray_2 : #E0E0E0;
$Light_Gray_3 : #F2F2F2;
$Light_Gray_4 : #BDBDBD;